name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: chaydson
          template: classic
          config_theme: nightowl
          config_timezone: America/Sao_Paulo
          config_layout: two-columns
          
          base: header, activity, community, repositories, metadata
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, jupyter notebook, tex
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage

          plugin_topics: yes
          plugin_topics_sort: stars
          plugin_topics_mode: icons
          plugin_topics_limit: 20

          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: B
